<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Workbench Spies"
            id="ca.mt.wbspies">
      </category>
      <view
            name="Selection Spy"
            icon="icons/sample.gif"
            category="ca.mt.wbspies"
            class="ca.mt.wbspies.selspy.SelectionSpyView"
            id="ca.mt.wbspies.views.SelectionSpyView">
      </view>
   </extension>

	<extension point = "org.eclipse.ui.actionSets">
		<actionSet id="ca.mt.wbspies.actionSet"
			label="Experimental Stuff"
			visible="true">
			<action
		         class="ca.mt.wbspies.EventListeningAction"
		         id="ca.mt.wbspies.toggleEventListening"
		         label="&amp;Dump SWT Events"
		         menubarPath="window/additions"
		         state="false"
		         style="toggle"/>
			<action
		         class="ca.mt.wbspies.CommandListeningAction"
		         id="ca.mt.wbspies.toggleCommandListening"
		         label="&amp;Dump Command Executions"
		         menubarPath="window/additions"
		         state="false"
		         style="toggle"/>
		</actionSet>
	</extension>


</plugin>
